body {
  background-color: #696969;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  background-origin: border-box;
  overflow-y: overlay;
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
}

main.main {
  opacity: 0.95;
}

.post-block {
  background: #fff;
  border-radius: 0px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 40px;
}

img.custom-logo-image,
div.site-brand-container {
  transition: all 1s ease-in-out;
}

.nav-link.active {
  border-bottom-color: #ffd700;
  color: #ffd700;
}

.sidebar-toc-active .sidebar-nav-toc,
.sidebar-overview-active .sidebar-nav-overview {
  border-bottom-color: #ffd700;
  color: #ffd700;
  transition: all 1s ease;
}

.sidebar-toc-active .sidebar-nav-toc:hover,
.sidebar-overview-active .sidebar-nav-overview:hover {
  color: #00f;
}

.footer {
  color: #00bfff;
}

#aplayer {
  color: #00bfff;
}

.back-to-top {
  color: #f00 !important;
  transition: all 0.25s ease-in-out;
}

.back-to-top:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 20px #000;
  opacity: 1 !important;
}

ul.nav-tabs {
  z-index: 10;
}

div.tabs {
  border-style: solid;
  border-width: 5px;
  border-color: #00bfff;
  transition-duration: 1s !important;
}

.site-author-name {
  transition-duration: 0.5s !important;
  transition-property: all !important;
  transition-timing-function: ease !important;
  color: #00bfff;
  font-size: 1.2em;
  margin: 0 !important;
}

.site-author-name:hover {
  color: #f00;
}

.links-of-author.site-overview-item {
  margin-left: 12px !important;
  margin-right: 12px !important;
}

.nav {
  margin-top: 2px !important;
}

.site-state-item.site-state-posts,
.site-state-item.site-state-categories,
.site-state-item.site-state-tags {
  transition: all 0.25s ease !important;
  position: relative;
  top: 0px;
}

.site-state-item.site-state-posts:hover,
.site-state-item.site-state-categories:hover,
.site-state-item.site-state-tags:hover {
  box-shadow: 0px 0px 2px #000 !important;
  top: -5px !important;
}

.links-of-author-item,
li.links-of-blogroll-item>a {
  background: transparent !important;
  overflow: hidden !important;
  transition: all ease-out 0.25s !important;
}

.links-of-author-item:hover {
  background-color: transparent !important;
  box-shadow: 0px 0px 2px #000 !important;
}

.nav-item {
  z-index: 1000 !important;
  padding-left: 5px !important;
}

.site-state-item-count {
  transition: all 0.25 ease;
}

.site-author-image {
  margin-top: 20px !important;
  transition: all 0.5s ease-in-out;
  background-color: transparent;
}

.site-author-image:hover {
  box-shadow: 0px 0px 15px #000;
  transform: scale(1.1);
  background-color: #f00;
}

.menu-item {
  transition: all 0.25s ease !important;
}

.menu-item:hover {
  transform: scale(1.025);
  box-shadow: 0px 0px 10px #000;
  position: relative !important;
  z-index: 10000;
}

code {
  color: white !important;
  border-radius: 1px !important;
  box-shadow: 0px 0px 3px 0.5px gray;
  font-family: consolas, "微软雅黑" !important;
  background-color: gray;
}

a.post-title-link {
  transition: all 0.25s ease-in-out !important;
}

a.post-title-link:hover {
  transform: scale(1.25) !important;
}

.site-brand-container {
  transition: all 1s ease-in-out !important;
}

.sidebar-nav li {
  color: #00bfff;
}

.sidebar-panel-container::-webkit-scrollbar {
  width: 3px;
  height: auto;
}

.sidebar-panel-container::-webkit-scrollbar-thumb {
  background: #00bfff;
}

.sidebar-panel-container::-webkit-scrollbar-track {
  background: transparent;
}

.main-inner {
  box-shadow: 0 0 3px 3px deepskyblue;
}

.footer-inner {
  text-shadow: -2px 0 2px black, 2px 0 2px black, 0 -2px 2px black, 0 2px 2px black;
}

li.links-of-blogroll-item>a {
  border: solid 1px black !important;
}

li.links-of-blogroll-item>a:hover {
  background-color: #E8E8E8 !important;
}

div#aplayer {
  width: 240px !important;
  margin: 12px 0 !important;
}

figure.highlight,
p {
  margin: 20px 0 !important;
}

pre {
  font-family: consolas, "微软雅黑" !important;
}

.post-body {
  text-align: left;
}

#Menu {
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  width: 150px;
  height: auto;
  position: fixed;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  opacity: 0;
  transition: all 0.25s ease;
  text-shadow: -2px 0 2px white, 2px 0 2px white, 0 -2px 2px white, 0 2px 2px white;
}

#List {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}

.ListElement {
  position: relative;
  color: black;
  text-align: left;
  margin: 0;
  height: 30px;
  padding: 0 0 0 10px;
  width: 141px;
  border: 0;
  background-color: transparent;
}

.ListElement:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

#SkadiCorner {
  position: fixed;
  height: 277px;
  width: 230px;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: inline-block;
  user-select: none;
  color: red;
  text-align: center;
  text-shadow: -2px 0 2px white, 2px 0 2px white, 0 -2px 2px white, 0 2px 2px white;
  cursor: pointer;
  pointer-events: auto;
}

#SkadiFollow {
  position: fixed;
  height: 214px;
  width: 230px;
  margin: 0;
  padding: 0;
  border: 0;
  display: inline-block;
  user-select: none;
  pointer-events: none;
}

.SkadiWebp {
  position: relative;
  user-select: none;
  border: 0;
  padding: 0;
  margin: 0;
  height: 214px;
  width: 230px;
}

#BackToTop {
  margin-bottom: 20px;
}

.ClickEffect {
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  justify-items: center;
  background-color: transparent;
  border: solid 1px dodgerblue;
  border-radius: 50%;
  box-shadow: 0 0 5px 2px deepskyblue, 0 0 5px 2px deepskyblue inset;
  width: 0;
  height: 0;
  transition-property: opacity;
  transition-timing-function: linear;
  transition-duration: 0.5s;
  overflow: visible;
  pointer-events: none;
}

.Dot {
  position: inherit;
  top: 50%;
  left: 50%;
  color: dodgerblue;
  box-shadow: 0;
  transition: all 1s ease;
  user-select: none;
  pointer-events: none;
}

.Stick {
  height: 1px;
  position: inherit;
  background-image: linear-gradient(to right, transparent, transparent, transparent, deepskyblue, dodgerblue, transparent);
  z-index: 1000;
  user-select: none;
  transition: opacity 0.15s linear;
  pointer-events: none;
}